@model TripNa_MVC.Models.OrderDetail

@{
    ViewData["Title"] = "UserOrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserOrderDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



