

.block #OrderListTatble tr td img {
    object-fit: cover;
    height: 125px;
    height: 125px;
}

body #myscore {
    border-style: initial;
    height: 200px;
    /*border: 1px solid #3A326D;*/
}


#star {
    font-size: 30px;
    margin: 0;
}

    #star:hover {
        cursor: pointer;
    }

.rank-rated {
    /*color: #f6be00;*/
    color: #fba833;
}

.rank-not-rated {
    color: #a2a2a2;
}



.btn-open {
    background-color: #4e5482;
    color: #e8eafe;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
}

.popup-content {
    position: absolute;
    transform: translate(-50%, -50%) scale(0.5);
    padding: 50px 75px;
    top: 50%;
    left: 50%;
    width: 80%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #fff;
    transition: transform 0.3s ease-in-out;
}

    .popup-content.show {
        transform: translate(-50%, -50%) scale(1);
    }

.cont h2 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.close {
    width: 65px;
    height: 65px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    color: #4e5482;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    /*z-index:99;*/
}

#scorezone {
    margin-top: 20px;
}

#star span {
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

#star .rank-rated {
    color: #fba833;
}

#write {
    resize: none;
    height: 150px;
    width: 100%;
    background-color: #cacde4;
    color: #3A326D;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#popupButton {
    background-color: #4e5482;
    font-size: 20px;
    margin: 10px;
    color: #e8eafe;
    letter-spacing: 5px;
    opacity: 0.9;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

    #popupButton:hover {
        background-color: #6a6f9a;
        opacity: 1;
    }