@model TripNa_MVC.Models.Guider

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Guider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuiderNickname" class="control-label"></label>
                <input asp-for="GuiderNickname" class="form-control" />
                <span asp-validation-for="GuiderNickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuiderGender" class="control-label"></label>
                <input asp-for="GuiderGender" class="form-control" />
                <span asp-validation-for="GuiderGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuiderArea" class="control-label"></label>
                <input asp-for="GuiderArea" class="form-control" />
                <span asp-validation-for="GuiderArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuiderStartDate" class="control-label"></label>
                <input asp-for="GuiderStartDate" class="form-control" />
                <span asp-validation-for="GuiderStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuiderIntro" class="control-label"></label>
                <input asp-for="GuiderIntro" class="form-control" />
                <span asp-validation-for="GuiderIntro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
