
@{
    ViewData["Title"] = "Guiderintroduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guiderintroduce</h1>

<style>

    .nav-center {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #標題 {
        background-color: #ffffff;
        height: 150px;
        line-height: 150px;
    }

    .rank-rated {
        color: #f6be00;
    }

    .rank-not-rated {
        color: #a2a2a2;
    }

    .rank-half-rated {
        background: linear-gradient(to right, #f6be00 50%, #eee 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

</style>


<!-- 標題 -->
<div class="nav-center" id="標題" style="color: #eef1ff; background-color: #4e5482; font-size: 24px;">
    導遊詳細資料
</div>


<div class="row">

    <div class="col-5 text-end">

        <img id="display_img" src="./_img/png/導遊.png" style="border-radius: 50%;" height="185px " width="185px">

        <br>
        <br>

        <div style='background-color: #e8eafe'>
        </div>


    </div>



    <div class="col-7 text-start">
        <h1>派大星</h1>
        <span style="color: #f6be00;">4.6</span>

        <span id="star">

            <span class="rank-rated" data-rating="1">&#128970;</span>
            <span class="rank-rated" data-rating="2">&#128970;</span>
            <span class="rank-rated" data-rating="3">&#128970;</span>
            <span class="rank-rated" data-rating="4">&#128970;</span>
            <span class="rank-half-rated " data-rating="5">&#128970;</span>
            <span id="score" style="color: #3A326D; font-size: 15px;"></span>
        </span>
        <span style="color: #a2a2a2;">(5)</span>
        <br>

        <span class="bi bi-trophy" style="color: #a2a2a2; font-size: 15px;">10次雇用</span>

        <br>
        <span>
            性別:男生
            <br>
            導遊年資:5年
            <br>
            主要服務地區:北部、中部
            <br>

        </span>
    </div>


</div>

<!-- 訂單資訊 -->

<div style="width: 50%; margin: 0 auto">
    <div class="d-flex row justify-content-center m-3 p-3 bg-light rounded shadow text-center">

        <h1 class="text-start">自我介紹</h1>
        <hr>
        <br>
        <p style="font-size: 17px;">
            精通中文與日文，在歷史和文化方面可以提供客戶詳細的講解。
            <br>
            除此之外，平時愛好攝影，也喜歡美食探店，
            <br>
            可以滿足顧客其他方面的多種需求。
        </p>

        <br>



        <hr>

    </div>
</div>


<br>
<div style="width: 50%; margin: 0 auto">
    <div class="d-flex row justify-content-center m-3 p-3 bg-light rounded shadow text-center">

        <h1 class="text-start">評價</h1>
        <hr>

        <br>

        <span class="text-start">
            小瓜:
            <span class="text-start" style="color: #f6be00;">
                4.0
                <span class="rank-rated" data-rating="1">&#128970;</span>
                <span class="rank-rated" data-rating="2">&#128970;</span>
                <span class="rank-rated" data-rating="3">&#128970;</span>
                <span class="rank-rated" data-rating="4">&#128970;</span>
                <span class="rank-not-rated" data-rating="5">&#128970;</span>
            </span>
            <br>

            <span class="text-start" style="font-size:20px;">超讚~~~~</span>
        </span>
        <br>

        <br>
        <br>
        <hr>

        <br>

        <span class="text-start">
            章魚:
            <span class="text-start" style="color: #f6be00;">
                5.0
                <span class="rank-rated" data-rating="1">&#128970;</span>
                <span class="rank-rated" data-rating="2">&#128970;</span>
                <span class="rank-rated" data-rating="3">&#128970;</span>
                <span class="rank-rated" data-rating="4">&#128970;</span>
                <span class="rank-rated" data-rating="5">&#128970;</span>
            </span>
            <br>

            <span class="text-start" style="font-size:20px;">派大星服務周到，解說也很詳細，讓我體驗一場深度文化之旅</span>
        </span>
        <br>

        <br>
        <br>
        <hr>

        <br>

        <span class="text-start">
            寶寶:
            <span class="text-start" style="color: #f6be00;">
                5.0
                <span class="rank-rated" data-rating="1">&#128970;</span>
                <span class="rank-rated" data-rating="2">&#128970;</span>
                <span class="rank-rated" data-rating="3">&#128970;</span>
                <span class="rank-rated" data-rating="4">&#128970;</span>
                <span class="rank-rated" data-rating="5">&#128970;</span>
            </span>
            <br>

            <span class="text-start" style="font-size:20px;">下次還要找派大星</span>
        </span>
        <br>

        <br>
        <br>
        <hr>

        <br>

        <span class="text-start">
            泡芙:
            <span class="text-start" style="color: #f6be00;">
                4.0
                <span class="rank-rated" data-rating="1">&#128970;</span>
                <span class="rank-rated" data-rating="2">&#128970;</span>
                <span class="rank-rated" data-rating="3">&#128970;</span>
                <span class="rank-rated" data-rating="4">&#128970;</span>
                <span class="rank-not-rated" data-rating="5">&#128970;</span>
            </span>
            <br>

            <span class="text-start" style="font-size:20px;">專業知識沒話說，但唯一缺點是會抽菸</span>
        </span>
        <br>

        <br>
        <br>
        <hr>

        <br>

        <span class="text-start">
            小皮:
            <span class="text-start" style="color: #f6be00;">
                5.0
                <span class="rank-rated" data-rating="1">&#128970;</span>
                <span class="rank-rated" data-rating="2">&#128970;</span>
                <span class="rank-rated" data-rating="3">&#128970;</span>
                <span class="rank-rated" data-rating="4">&#128970;</span>
                <span class="rank-rated" data-rating="5">&#128970;</span>
            </span>
            <br>

            <span class="text-start" style="font-size:20px;">最愛派大星</span>
        </span>
        <br>

        <br>
        <br>


    </div>
</div>
<br>
<br>
<br>
<br>
<br>

