﻿@using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor hca
@{
    string memberEmail = hca.HttpContext.Session.GetString("memberEmail") ?? "Guest";

    // string username = memberEmail.Split('@')[0];

    string username = hca.HttpContext.Session.GetString("memberName");

}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TEST0523_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TEST0523_MVC.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- 字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-color: #dee0fb;
            height: 100vh; /* 適用於現代瀏覽器 */
        }

        .navbar-nav > li > a {
            margin-left: 10px;
            color: #dee0fb;
        }

        .navbar-nav {
            margin-right: 2rem;
            background-color: #4e5482;
            padding: .3rem 1rem;
            border-radius: 30px;
            box-shadow: 0px 10px 5px -2px rgba(0,0,0,0.3), 4px 1px 2px 3px #4e5482 inset;
        }

        footer {
            background-color: #4e5482;
            color: #fefefe;
            text-align: center;
            padding: 10px;
            margin-bottom: 0;
        }

    </style>
</head>
<body>

    <header>
        <div class="container-fluid px-0 ">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="col fixed-top">
                        <!-- 固定上方 -->



@*<body background="./景點圖片/pexels-karolina-grabowska-5705989.jpg"
      style="background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;backdrop-filter:blur(10px); /* 模糊效果 */"> *@
<!-- 頁首 -->
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light" id="head" style="background-color:rgba(78, 84, 130, 0.4); color: #dee0fb;
">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index"><img src="~/_img/logo.png" alt="" width="200px"></a>
            <!-- 按鈕 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--  -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
               
                <div class="text-center">
                    <ul class="navbar-nav justify-content-center text-center m-3">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">旅遊資訊</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Privacy">自訂行程</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Spot">景點介紹</a>
                        </li>
                        @{
                            if (memberEmail == "Guest")
                            {
                                <li class="nav-item">

                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Login">會員登入</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Members" asp-action="MemberCenter">HI @username</a>
                                </li>

                                            <li class="nav-item">

                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Logout">會員登出<span class="bi bi-box-arrow-in-right"></span></a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>


    </header>



<div class="">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>





    <footer class="text-center mt-5 p-3 shadow  " style="height: 200px;">
        <div class="row justify-content-center align-items-center text-center m-3">
            <div class="col-3">
                <h5>關於我們</h5>
                <hr>
                <ul class="list-unstyled">
                    <li class="mb-1">趣哪:旅遊網站</li>
                    <li class="mb-1">可以自訂行程</li>
                    <li class="mb-1">也可以媒合導遊</li>
                </ul>
            </div>
            <div class="col-3">
                <h5>聯絡我們</h5>
                <hr>
                <ul class="list-unstyled">
                    <li class="mb-1">電話: 123-456-7890</li>
                    <li class="mb-1">地址: 123 Main Street, Anytown, USA</li>
                    <li class="mb-1">Email: 8bXrN@example.com</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 版權所有:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">趣哪.com</a>
    </div>
</footer>
<!-- Footer -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
